<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MySQL" connectionString="SERVER=localhost;DATABASE=kartsaglikdb; UID=root; PASSWORD=12345678"/>
  </connectionStrings>
</configuration>